@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    line-height: 1.4;
    color: #333;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

p {
    font-size: 1.25rem;
    margin-bottom: 1.75rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.75rem;
    border-bottom: 3px solid #41561f;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 1.75rem;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 1.75rem;
}

.header {
    padding: 0.875rem 1.75rem;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.75rem;
}

.dbwebb-header {
    margin-bottom: 0;
    border: none;

}

.dbwebb-header a {
    color: #333;
    text-decoration: none;
}

.header-logo {
    width: 64px;
}

.main {
    width: 100%;
    max-width: 67.5rem;
    padding: 1.75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.article,
.sidebar {
    width: auto;
}

ul,
ol {
    margin-bottom: 1.75rem;
    padding-left: 1.75rem;
    font-size: 1.25rem;
}

table {
    margin-bottom: 1.75rem;
    font-size: 1.25rem;
    border-collapse: collapse;
}

table tr th {
    text-align: left;
}

table tr th,
table tr td {
    padding: 6px 12px;
}

table tbody tr {
    border-top: 1px solid #ccc;
}

table tbody tr:nth-child(2n+1) {
    background-color: #eee;
}

table tbody tr:hover{
    background-color: #ddd;
}

.footer {
    background-color: #333;
    color: white;
    display: flex;
    padding: 3.5rem;
    justify-content: center;
    align-items: center;
}

.author-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-images img {
    margin-bottom: 1.75rem;
    border-radius: 50%;
    max-width: 100%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.info {
    background-color: rgb(3, 22, 51);
    color: rgb(110, 168, 254);
    border-radius: 4px;
    padding: 1.75rem;
    border: 1px solid rgb(110, 168, 254);
    margin-bottom: 1.75rem;
}

.warning {
    background-color: rgb(51, 39, 1);
    color: rgb(255, 218, 106);
    border-radius: 4px;
    padding: 1.75rem;
    border: 1px solid rgb(255, 218, 106);
    margin-bottom: 1.75rem;
}

@media (min-width: 67.5rem) {
    html {
        font-size: 112.5%;
    }

    .main {
        flex-direction: row;
        gap: 3.5rem;
    }

    .sidebar {
        width: 20%;
        flex-shrink: 0;
    }
}
